*
    margin: 0px
    padding: 0px
    border: 0px

@font-face 
  font-family: Inter
  src: url('/webfonts/Inter-Variable.ttf')

// Variabili dei colori

$nero-scuro: #18191D
$nero-medio: #212226
$nero-chiaro: #26272B

$grigio-scuro: #606678
$grigio-medio: #BBBFC6
$grigio-chiaro: #D4D4DA

$verde-scuro: #34986E
$verde-chiaro: #ACD656
$viola: #7949C0
$giallo: #E5AF11
$azzurro: #53A2CE
$rosso: #B32F30
$blu: #3C3BFF

// Classi del gliderJS

.glider-track
    gap: 10px

body
    background-color: $nero-scuro
    font-family: inter

    .titolo
        color: $grigio-chiaro
        font-variation-settings: "wght" 200
        font-size: 17px
        letter-spacing: 1px
        padding: 20px 0px

    .contenitore
        display: grid
        grid-template-columns: 300px 1fr
        grid-template-rows: repeat(2, 1fr)
        height: 100vh

    .nagivazione
        grid-area: 1 / 1 / 6 / 2
        background-color: $nero-medio
        position: fixed
        height: 100vh
        width: 300px

        .contenitore-navigazione
            padding: 30px 30px 0px 30px
            height: 100vh
            display: flex
            flex-direction: column

            .logo  
                display: flex
                align-items: center
                justify-content: space-between

                span
                    font-size: 30px
                    color: white
                    font-variation-settings: "wght" 700
                    display: flex
                    flex-direction: column

                    small
                        font-size: 15px
                        font-variation-settings: "wght" 400

            .pulsante-aggiunti-password
                text-align: center
                display: block
                background: $blu
                padding: 20px 30px
                width: inherit
                margin-top: 60px
                border-radius: 10px
                position: fixed
                bottom: 40px
                a
                    text-decoration: none
                    color: $grigio-chiaro
                    font-variation-settings: "wght" 600

    .contenuto
        grid-area: 1 / 2 / 6 / 6
        margin: 30px

        .barra-ricerca
            display: flex

            .input-barra-ricerca
                width: 100%
                padding: 10px
                border-top-left-radius: 5px
                border-bottom-left-radius: 5px
                background-color: $nero-chiaro
                color: $grigio-medio

            .pulsante-icona-cerca
                padding: 10px
                background-color: $nero-chiaro
                border-top-right-radius: 5px
                border-bottom-right-radius: 5px
                color: $grigio-scuro

        .password-piu-usate
            padding: 40px 0px
            .glider-contain
                .contenitore-cards
                    display: flex
                    gap: 10px
                    .card-singola
                        position: relative
                        overflow: hidden
                        border-radius: 10px
                        width: 200px
                        img
                            position: absolute
                            object-fit: cover
                            width: 100%
                            height: 300px
                        .contenuto-card-singola
                            padding: 20px
                            position: relative
                            height: 250px
                            background: linear-gradient(0deg, rgb(24 25 29 / 96%) 10%, rgb(24 25 29 / 0%) 100%)
                            display: flex
                            flex-direction: column
                            justify-content: flex-end

                            .nome-app
                                position: relative
                                color: white
                                font-size: 20px
                                margin-bottom: 50px
                                font-variation-settings: "wght" 100
                                display: flex
                                justify-content: space-between
                                align-items: center
                            .email
                                position: relative
                                color: white
                                font-size: 12px
                                color: $grigio-medio                           
                            .pass
                                position: relative
                                color: white
                                margin-top: 10px
                                font-size: 10px
                                letter-spacing: 5px
        .tutte-le-password
            .pillola
                background: $nero-chiaro
                padding: 5px
                border-radius: 15px
                text-decoration: none
                font-size: 11px
                display: inline-block
                
            .contenitore-tutte-le-password
                color: white

                .riga-dei-titoli
                    display: flex
                    justify-content: space-between
                    padding: 30px
                    background: $nero-chiaro

                    .colonna-titolo
                        width: clamp(100px, 200px, 250px)
                        font-size: 15px
                        font-variation-settings: "wght" 700
                        color: $grigio-scuro

                .riga-del-servizio
                    display: flex
                    justify-content: space-between
                    align-items: center
                    padding: 30px
                    background: $nero-medio
                    border-bottom: 1px solid $nero-chiaro

                    [class*="colonna-"]
                        width: clamp(100px, 200px, 250px)

                    .colonna-sitoweb
                        display: flex
                        gap: 20px
                        align-items: center

                        .icon
                            background: $blu
                            padding: 25px
                            border-radius: 10px

                        .nome-url
                            display: flex
                            flex-direction: column

                            .nome
                                color: $grigio-chiaro
                                font-variation-settings: "wght" 700
                                font-size: 14px

                            .url a 
                                color: $grigio-scuro
                                font-size: 14px
                    .colonna-categoria
                        display: flex
                        align-items: center
                        flex-wrap: wrap
                        span
                            background: $nero-chiaro
                            padding: 10px
                            border-radius: 15px
                            text-decoration: none
                            font-size: 11px
                            display: inline-block
                            margin: 2px 2px
                                            
                        .pillola
                            color: white
                            &-viola a
                                color: $viola
                                text-decoration: none
                                font-variation-settings: "wght" 700
                            &-verde a
                                color: $verde-scuro
                                text-decoration: none
                                font-variation-settings: "wght" 700
                            &-gialla a
                                color: $giallo
                                text-decoration: none
                                font-variation-settings: "wght" 700
                    
                    .colonna-nome-utente
                        .nome-utente
                            display: flex
                            justify-content: space-between
                            font-size: 15px
                            color: $grigio-medio
                            font-variation-settings: "wght" 500
                            .icona
                                font-size: 20px
                
                    .colonna-password
                        .password
                            display: flex
                            justify-content: space-between
                            font-size: 15px
                            color: $grigio-medio
                            font-variation-settings: "wght" 500
                            .icona
                                font-size: 20px
                                &:nth-child(1)
                                    margin-right: 10px

                    .colonna-vulnerabilita
                        display: flex
                        justify-content: space-evenly
                        align-items: center

                        .vulnerabilita
                            background: red
                            &-alta 
                                background: $rosso
                            
                        span
                            margin-left: 20px
                            font-size: 15px
                            color: $grigio-medio
                            font-variation-settings: "wght" 500